body {
    background-color: #333;
}

footer {
    padding-top: 15px;
}
footer p{
    color: #aaa;
    font-size: 12px;
}

/* typography */
p {
    font-size: 1.5em;
    line-height: 2em;
}

.pind {
    text-indent: 50px;
}

.plg {
    font-size: 24px;
}

.bluet {
    color: #428bca;
}

/* dark, light, and color sections */
.con-dark {
    background-color: #ddd;
}

.con-light {
    background-color: #f5f5f5;
}

.con-blue {
    background-color: #428bca;
}

.con-blue p {
    color: #f5f5f5;
}

/* add some default padding to sections */
.wpad {
    padding: 75px 5%;
}

/* get rid of default margin and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

/* jumbotron classes */
#splash {
	background-image: url('../images/speedball-lg.jpg');
	background-size: cover;
	min-height: 600px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: #555;
    background-blend-mode: multiply;
}

#splash h1 {
    font-size: 100px;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-shadow: 0  0 0.2em  #222;
    padding: 30px;
}

/* decrease font size of splash title for mobile */
@media (max-width: 600px) {
    #splash h1{
         font-size: 70px;   
    }
}
